p
  = t('hello')
  |  #{@resource.email}!
p = t('devise.custom.mailer.reset_password_instructions.someone has requested a link to change your password you can do this through the link below')
p= link_to t('devise.custom.mailer.reset_password_instructions.change my password'), edit_password_url(@resource, reset_password_token: @token)
p = t('devise.custom.mailer.reset_password_instructions.if you didnt request this, please ignore this email')
p = t('devise.custom.mailer.reset_password_instructions.your password wont change until you access the link above and create a new one')